<h1>Calculate a triangle</h1>

<form action="/triangles" method="post">
  <div class="form-group">
    <label for="triangle_sides">Side 1</label>
    <input type="number" name="side1" id="n" class="form-control">
    <label for="triangle_sides">Side 2</label>
    <input type="number" name="side2" id="n" class="form-control">
    <label for="triangle_sides">Side 3</label>
    <input type="number" name="side3" id="n" class="form-control">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
