
<h1>All Triangles</h1>
<h3>Available Triangles</h3>

<% if @triangles.any? %>
<ul>
  <% @triangles.each do |triangle| %>
  <li><%= triangle.side1 + ", " + triangle.side2 + ", " + triangle.side3 %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no traingles to display.</p>
<% end %>

<a href="/triangles/new">Add a new triangle</a>
